# Monorepo ignores
node_modules/

# OS / misc
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env files (ignore all variants; allow templates)
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

